<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo Suite">
 <test name="Test1">
 <classes>
 <class name="com.qa.basicsTestng.Orangehrm">
 <methods>
 <include name="BasicUrl"></include>
 <include name="LoginDetails"></include>
 <include name="MyInfo"></include>
 </methods>
  </class>
 </classes> 
 </test>
</suite> 
